<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" th:action="@{/api/v1/auth/register/submit}">
      <input type="text" name="name" th:field="${register.name}" placeholder="Name" required />
      <input type="text" name="email" th:field="${register.email}" placeholder="Email" required />
      <input type="text" name="password" th:field="${register.password}" placeholder="Password" required />
      <input type="text" name="confPassword" th:field="${register.confPassword}" placeholder="Confirm Password" required />
      <select name="role option" th:field="${register.role}" required>
        <option value="" disabled selected>Select Role</option>
        <option th:each="roleOption: ${roleOptions}" th:value="${roleOption.id}" th:text="${roleOption.name}"></option>
      </select>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
