<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
  </head>
  <body>
    <div class="h-screen flex justify-center items-center bg-indigo-300">
      <div class="w-3/12 p-5 bg-white rounded-md drop-shadow-2xl">
        <h1 class="font-bold text-center">Register form</h1>
        <form method="POST" th:action="@{/api/v1/auth/register/submit}" class="flex flex-col">
          <label for="emailInput">Name :</label>
          <input class="border-solid border-2 border-indigo-500 rounded-md mb-3 p-2" type="text" name="nameInput" required th:field="${register.name}" />
          <label for="emailInput">Email :</label>
          <input class="border-solid border-2 border-indigo-500 rounded-md mb-3 p-2" type="email" name="emailInput" required th:field="${register.email}" />
          <label for="passwordInput">Password :</label>
          <input class="border-solid border-2 border-indigo-500 rounded-md mb-3 p-2" type="password" name="passwordInput" required th:field="${register.password}" />
          <label for="confpasswordInput">Confirm Password :</label>
          <input class="border-solid border-2 border-indigo-500 rounded-md mb-3 p-2" type="password" name="confpasswordInput" required th:field="${register.confPassword}" />
          <label for="choose role">Select Role :</label>
          <select class="border-solid border-2 border-indigo-500 rounded-md mb-3 p-2" name="role option" th:field="${register.role}" required>
            <option value="" disabled selected>Select Role</option>
            <option th:each="roleOption: ${roleOptions}" th:value="${roleOption.id}" th:text="${roleOption.name}" class="text-indigo-500"></option>
          </select>
          <button type="submit" class="bg-indigo-500 px-3 py-2 rounded-md text-white mt-3">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>

<a th:href="@{/api/v1/auth/change/form}">Change Password</a>

<!-- <form method="POST" th:action="@{/api/v1/auth/register/submit}">
  <input type="text" name="name" th:field="${register.name}" placeholder="Name" required />
  <input type="text" name="email" th:field="${register.email}" placeholder="Email" required />
  <input type="text" name="password" th:field="${register.password}" placeholder="Password" required />
  <input type="text" name="confPassword" th:field="${register.confPassword}" placeholder="Confirm Password" required />
  <select name="role option" th:field="${register.role}" required>
    <option value="" disabled selected>Select Role</option>
    <option th:each="roleOption: ${roleOptions}" th:value="${roleOption.id}" th:text="${roleOption.name}"></option>
  </select>
  <button type="submit">Register</button>
</form> -->
